
<article>

    <!-- article content -->
    <div class="l-article-content">

        <!-- forum nav -->
        <nav class="forum-nav">

            <a class="forum-nav__new-thread forum-nav__new-thread--no-plus" href="{{  route('nowy-temat') }}">Nowy temat:</a>

            <div class="u-float-right">
                <a class="forum-nav__right-btn forum-nav__right-btn--regulamin" href="{{  route('regulamin') }}">Regulamin</a>
                <a class="forum-nav__right-btn forum-nav__right-btn--pomoc" href="{{  route('pomoc') }}">Pomoc</a>
            </div>

        </nav>

        <form class="forum-form" method="post">
            <label>
                Temat:
                {% if errors.name  %}

                    <input type="text" style="border:1px solid red"  value="{{ data.name}}" name="name">

                {% else %}

                    <input type="text" value="{{ data.name}}" name="name">

                {% endif %}

            </label>


            <label>

                Treść:
                {% if errors.content  %}

                    <textarea rows="5" style="border:1px solid red" name="content" >{{ data.content }}</textarea>

                {% else %}
                    <textarea rows="5" name="content" >{{ data.content }}</textarea>

                {% endif %}

            </label>


            <label class="forum-form__nick">
                Nick:
                {% if errors.nick  %}

                    <input type="text" style="border:1px solid red" value="{{ data.nick }}" name="nick" />

                {% else %}
                    <input type="text" value="{{ data.nick }}" name="nick" />

                {% endif %}

            </label>

            <input type="submit" class="forum-form__btn" value="Publikuj">
        </form>

    </div>

</article>
