<form style="padding-bottom: 60px" method="post">

    <input type="hidden" name="thread" value="5"/>

    {% if errors.content  %}

        <textarea rows="5" style="border:1px solid red"   name="content">{{ data.content}}</textarea>

    {% else %}

        <textarea rows="5" name="content">{{ data.content}}</textarea>

    {% endif %}


    <label class="forum-form__nick">

        Nick:

        {% if errors.nick  %}

            <input type="text" name="nick" style="border:1px solid red" value="{{ data.nick}}">

        {% else %}

            <input type="text" name="nick" value="{{ data.nick}}">

        {% endif %}

    </label>

    <input type="submit" value="Publikuj" class="forum-bottom-btn forum-bottom-btn--send">

    <div class="u-float-right">
        <a class="forum-bottom-btn forum-bottom-btn--return" href="">Powrót do artykułu</a>
    </div>

</form>