<article>


    <!-- article content -->
    <div class="l-article-content">


        <!-- forum nav -->
        <nav class="forum-nav">

            <a class="forum-nav__new-thread" href="{{  route('nowy-temat') }}">Nowy temat</a>

            <div class="u-float-right">
                <a class="forum-nav__right-btn forum-nav__right-btn--regulamin" href="{{  route('regulamin') }}">Regulamin</a>
                <a class="forum-nav__right-btn forum-nav__right-btn--pomoc" href="{{  route('pomoc') }}">Pomoc</a>
            </div>

        </nav>


        {% for v in threads %}

            {% if v.hasRelatedContent %}

                <section class="forum-thread forum-thread--news">

                    <div>
                        <h2 class="forum-thread__title">{{ v.name }}</h2>
                        <div class="forum-thread__subtitle">otwarte: {{ v.createdAt }} | <a class="forum-thread__comments" href="{{  route('thread', {'id' : v.id} ) }}">

                                {% if v.getPosts|length == 1 %}

                                    {{ v.getPosts|length }} komentarz

                                {% else %}

                                    {{ v.getPosts|length }} komentarzy

                                {% endif %}

                        </a></div>

                        <a class="forum-thread__btn" href="{{  route('thread', {'id' : v.id} ) }}">Otwórz</a>
                    </div>

                </section>

            {% else %}

                <section class="forum-thread forum-thread--discussion">

                    <div>
                        <h2 class="forum-thread__title">{{ v.name }}</h2>
                        <div class="forum-thread__subtitle">otwarte:  {{ v.createdAt }} | <a class="forum-thread__comments" href="{{  route('thread', {'id' : v.id} ) }}">

                                {% if v.getPosts|length == 1 %}

                                    {{ v.getPosts|length }} komentarz

                                {% else %}

                                    {{ v.getPosts|length }} komentarzy

                                {% endif %}

                        </a></div>



                        <a class="forum-thread__btn" href="{{  route('thread', {'id' : v.id} ) }}">Otwórz</a>
                    </div>

                </section>

            {% endif %}


        {% else %}

            Brak wątków.

        {% endfor %}

    </div>

    {{ htmlPaginator|raw }}

</article>