<article style="padding-bottom: 0px">


    <!-- article content -->
    <div class="l-article-content">


        <!-- forum nav -->
        <nav class="forum-nav">

            <a class="forum-nav__new-thread" href="{{  route('nowy-temat') }}">Nowy temat</a>

            <div class="u-float-right">
                <a class="forum-nav__right-btn forum-nav__right-btn--regulamin" href="{{  route('regulamin') }}">Regulamin</a>
                <a class="forum-nav__right-btn forum-nav__right-btn--pomoc" href="{{  route('pomoc') }}">Pomoc</a>
            </div>

        </nav>


        <h2 class="forum-thread-title">{{thread.name }}</h2>

        {% for v in posts %}

            <div class="forum-post">
                <div class="forum-post__author">jloretz;</div><div class="forum-post__time">28.03.2015, 21.37</div>
                <p class="forum-post__content">Od 20 lat buduję praktykę, która powoduje, że pacjent NIE JEST ANONIMOWY. Znamy pacjentów, oni nas znają i oni znaja sie między sobą. Bo taki jest cel - poradnia ma być przyjazna. Chcecie fabryk? Dobrze. Tylko powiedzmy to sobie głośno jako społeczeństwo: od stycznia 2016 nie patrzymy sobie w oczy, nie podajemy reki, nie wymieniamy imion. No i proponuje jeszcze jeden warunek - lekarz też ma być anonimowy.</p>
                <div class="u-float-right">
                    <a class="forum-post__rating forum-post__rating--up" href="">21</a>
                    <a class="forum-post__rating forum-post__rating--down" href="">3</a>
                </div>
            </div>

        {% else %}

            Brak postów.

        {% endfor %}

        <div class="u-clearfix">

            {{ htmlPaginator|raw }}

            <div class="u-float-left">
                <a class="forum-bottom-btn forum-bottom-btn--reply" href="">Odpowiedz:</a>
            </div>

        </div>



    </div>


</article>