<!DOCTYPE html>
<html lang="">

<head>

    <!-- Basic informations -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site informations -->
    <title>Forum — Forum Szczepień</title>
    <meta name="author" content="">
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/forumcomponent/static/favicon/apple-touch-icon-180x180.png') }}">

    <link rel="icon" type="image/png" href="{{ asset('bundles/forumcomponent/static/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/forumcomponent/static/favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('bundles/forumcomponent/static/favicon/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('bundles/forumcomponent/static/favicon/favicon-16x16.png') }}" sizes="16x16">

    <link rel="manifest" href="../static/favicon/manifest.json">
    <link rel="shortcut icon" href="../static/favicon/favicon.ico">

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="../static/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="../static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="{{ asset('bundles/forumcomponent//static/css/global.css') }}" type="text/css" rel="stylesheet">

</head>

<body>



<!--                -->
<!--    Desktop     -->
<!--                -->

<!-- desktop top -->
<header class="l-top" role="banner">

    <!-- top-nav -->
    <div class="top-nav">
        <div class="l-width-wrapper">

            <a href="" class="top-nav__home">&nbsp;</a>
            <a href="" class="top-nav__logo">&nbsp;</a>

            <div class="top-nav__search" role="search">
                <input class="top-nav__input" type="search" placeholder="Wyszukaj">
                <a href="" class="top-nav__search-btn"></a>
            </div>

            <div class="u-float-right  u-clearfix">

                <a href="" class="top-nav__btn top-nav__btn--newsletter">Zamów newsletter</a>
                <a href="" class="top-nav__btn top-nav__btn--login">Zaloguj</a>

            </div>

        </div>
    </div>


    <!-- masthead -->
    <div class="masthead">
        <div class="l-width-wrapper">

            <a href="" class="masthead__logo">&nbsp;</a>

            <div class="u-float-right u-clearfix">

                <a href="" class="masthead__btn masthead__btn--grypa"><div class="masthead__btn-text">grypa</div></a>
                <a href="" class="masthead__btn masthead__btn--krztusiec"><div class="masthead__btn-text">krztusiec</div></a>
                <a href="" class="masthead__btn masthead__btn--podrozy"><div class="masthead__btn-text">medycyna podróży</div></a>

            </div>

        </div>
    </div>

</header>
<!-- end of desktop top -->





<!--                -->
<!--    Mobile      -->
<!--                -->


<!-- mobile nav -->
<header class="mobile-nav">

    <div class="mobile-nav__top-wrapper">
        <a href="" class="mobile-nav__logo">&nbsp;</a>

        <a href="" class="mobile-nav__hamburger">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </a>
    </div>

    <div class="mobile-nav__window">


        <div class="mobile-nav__search" role="search">
            <input class="mobile-nav__input" type="search" placeholder="Wyszukaj">
            <a href="" class="mobile-nav__search-btn"></a>
        </div>


        <a href="" class="mobile-nav__portal-btn mobile-nav__portal-btn--grypa"><div class="mobile-nav__portal-btn-text">grypa</div></a>
        <a href="" class="mobile-nav__portal-btn mobile-nav__portal-btn--krztusiec"><div class="mobile-nav__portal-btn-text">krztusiec</div></a>
        <a href="" class="mobile-nav__portal-btn mobile-nav__portal-btn--podrozy"><div class="mobile-nav__portal-btn-text">medycyna podróży</div></a>


        <ul class="mobile-nav__links-wrapper">
            <li class="mobile-nav__link"><a href="">Zaloguj</a></li>
            <li class="mobile-nav__link"><a href="">Zamów newsletter</a></li>
            <li class="mobile-nav__link"><a href="">Aktualności</a></li>
            <li class="mobile-nav__link"><a href="">Artykuły</a></li>
            <li class="mobile-nav__link"><a href="">Przegląd badań</a></li>
            <li class="mobile-nav__link"><a href="">Zdaniem eksperta</a></li>
            <li class="mobile-nav__link mobile-nav__link--current"><a href="">Najczęstsze pytania (FAQ)</a></li>
            <li class="mobile-nav__link"><a href="">Jak rozmawiać z pacjentem</a></li>
            <li class="mobile-nav__link"><a href="">Szczepienia - fakty i mity</a></li>
            <li class="mobile-nav__link"><a href="">Szczepienia - historia</a></li>
            <li class="mobile-nav__link"><a href="">Forum dyskusyjne</a></li>
            <li class="mobile-nav__link"><a href="">Konferencje i zjazdy</a></li>
            <li class="mobile-nav__link"><a href="">W graficznym skrócie</a></li>
        </ul>

        <div class="mobile-nav__banners">

            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/a_pytanie.png') }}" alt=""></a>
            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/b_quiz.png') }}" alt=""></a>
            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/c_opzg.png') }}" width="195" height="226" alt=""></a>


        </div>

        <!-- counter -->
        <div class="counter">
            <div class="counter__title">Licznik zachorowań na grypę</div>

            <div class="counter__section">
                <div class="counter__subtitle">Ostatni tydzień:</div>
                <div class="counter__numbers-wrapper">
                    <div>0</div>
                    <div>0</div>
                    <div>5</div>
                    <div>8</div>
                    <div>9</div>
                </div>
            </div>
            <div class="counter__section">
                <div class="counter__subtitle">Suma od września 2014r.</div>
                <div class="counter__numbers-wrapper">
                    <div>2</div>
                    <div>7</div>
                    <div>6</div>
                    <div>1</div>
                    <div>5</div>
                    <div>2</div>
                    <div>2</div>
                    <div>1</div>
                    <div>6</div>
                </div>
            </div>
            <div class="counter__section">
                <div class="counter__subtitle">Cały sezon 2014/2016</div>
                <div class="counter__numbers-wrapper">
                    <div>3</div>
                    <div>3</div>
                    <div>1</div>
                    <div>9</div>
                    <div>0</div>
                    <div>0</div>
                    <div>9</div>
                </div>
            </div>
        </div>

    </div>

</header>
<!-- end of mobile nav -->







<!-- middle wrapper -->
<div class="l-middle">



    <!-- sidebar -->
    <aside class="l-sidebar">

        <nav class="nav" role="navigation">
            <ul>
                <li class="nav__link"><a href="">Aktualności</a></li>
                <li class="nav__link"><a href="">Artykuły</a></li>
                <li class="nav__link"><a href="">Przegląd badań</a></li>
                <li class="nav__link"><a href="">Zdaniem eksperta</a></li>
                <li class="nav__link nav__link--current"><a href="">Najczęstsze pytania (FAQ)</a></li>
                <li class="nav__link"><a href="">Jak rozmawiać z pacjentem</a></li>
                <li class="nav__link"><a href="">Szczepienia - fakty i mity</a></li>
                <li class="nav__link"><a href="">Szczepienia - historia</a></li>
                <li class="nav__link"><a href="">Forum dyskusyjne</a></li>
                <li class="nav__link"><a href="">Konferencje i zjazdy</a></li>
                <li class="nav__link"><a href="">W graficznym skrócie</a></li>
            </ul>
        </nav>

        <div class="counter">
            <div class="counter__title">Licznik zachorowań na grypę</div>

            <div class="counter__section">
                <div class="counter__subtitle">Ostatni tydzień:</div>
                <div class="counter__numbers-wrapper">
                    <div>0</div>
                    <div>0</div>
                    <div>5</div>
                    <div>8</div>
                    <div>9</div>
                </div>
            </div>
            <div class="counter__section">
                <div class="counter__subtitle">Suma od września 2014r.</div>
                <div class="counter__numbers-wrapper">
                    <div>2</div>
                    <div>7</div>
                    <div>6</div>
                    <div>1</div>
                    <div>5</div>
                    <div>2</div>
                    <div>2</div>
                    <div>1</div>
                    <div>6</div>
                </div>
            </div>
            <div class="counter__section">
                <div class="counter__subtitle">Cały sezon 2014/2016</div>
                <div class="counter__numbers-wrapper">
                    <div>3</div>
                    <div>3</div>
                    <div>1</div>
                    <div>9</div>
                    <div>0</div>
                    <div>0</div>
                    <div>9</div>
                </div>
            </div>
        </div>

        <div class="sidebar-banners">

            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/a_pytanie.png') }}" alt=""></a>
            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/b_quiz.png') }}" alt=""></a>
            <a href=""><img src="{{ asset('bundles/forumcomponent/media/sidebar/c_opzg.png') }}" alt=""></a>

        </div>


    </aside>

    <!-- page content -->
    <main class="l-main" role="main">


        <!-- page header -->
        <header class="page-header">
            <h1 class="page-header__title">Forum dyskusyjne</h1>
            <div class="page-header__breadcrumb">
                <a href="" class="page-header__breadcrumb-link">Strona główna</a> &gt;
                <a href="" class="page-header__breadcrumb-link">Forum dyskusyjne</a>
            </div>
        </header>


        <!-- article -->
        {% block content %}

            layout content
        {% endblock %}
        <!-- end of article -->


    </main>
    <!-- end of page content -->


</div>
<!-- end of middle wrapper -->




<!-- footer -->
<footer class="footer" role="contentinfo">

    <div class="footer__copyright">&copy; 2000-2015 Copyright by Cegedim Group Poland Sp z o.o. All rights reserved.</div>

    <div class="footer__credits">

        <div class="l-width-wrapper">

            <div class="footer__left">
                <div class="footer__text">Patronem serwisu jest firma:</div>
                <a href=""><img src="{{ asset('bundles/forumcomponent/media/logos/logo_sanofi.png') }}" alt=""></a>
            </div>

            <div class="footer__right">
                <div class="footer__text">Serwis przygotował:</div>
                <a href=""><img src="{{ asset('bundles/forumcomponent/media/logos/logo_esculap.png') }}" alt=""></a>
            </div>

        </div>

    </div>

</footer>




<!-- Scripts postload -->
<script src="{{ asset('bundles/forumcomponent/static/js/bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/forumcomponent/static/js/global.js') }}" type="text/javascript"></script>

</body>
</html>




